<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" <!-- jQuery -- />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-controller="myCtrl">
    <h1>AWT Progress</h1>
    <!-- Using AngularJS -->
    <section>
        <h3>Sap id - 590018567</h3>
        <h2>Class Theory</h2>
        <div>
            <ul>
                <li ng-repeat="link in classLinks">
                    <a ng-href="{{link.url}}">{{link.text}}</a>
                </li>
                <!-- Node.js heading -->
        <h2>Nodejs</h2>
        <li ng-repeat="link.in Node">
        <a ng-href="{{link.url}}">{{link.text}}</a>
        </li>
    </ul>
    </div>
            </ul>
        </div>
    </section>

    <!-- Using jQuery -->
    <section>
        <h2>Lab Experiment</h2>
        <div>
            <ul id="labLinks"></ul>
        </div>
    </section>

        <section>
        <h2>Lab Report</h2>
        <div>
            <ul id="labreportLinks"></ul>
        </div>
    </section>
    <script>
        // AngularJS App
        var app = angular.module("myApp", []);
        app.controller("myCtrl", function ($scope) {
            $scope.classLinks = [
                { url: "./Class/jQuerry_Exp1/index.html",text: "remote link vs local",},
                { url: "./Class/JQuerry_json_ajax/test.html", text: "angular expression" },
                { url: "./Class/JQuerry_json_ajax/ng-app.html", text: "Ng-bind example" },
                { url: "./Class/JQuerry_json_ajax/ng-bind.html", text: "Ng-Click example" },
                { url: "./Class/JQuerry_json_ajax/ng-if.html", text: "Ng If example" },
                { url: "./Class/JQuerry_json_ajax/ng-repeat.html", text: "Ng-Repeat example" },
                { url: "./Class/JQuerry_json_ajax/To-do-lidt.html", text: "TO DO LIST" },
                ];
                // Node.js Section Heading
                $scope.Node = [
                { url: "./Class/nodejs/Exp1.js", text: "Exp1" },
                { url: "./Class/nodejs/Exp2.js", text: "Exp2" },
                { url: "./Class/nodejs/Exp3.js", text: "Exp3" },
                { url: "./Class/nodejs/Exp4.js", text: "Exp4" },
                { url: "./Class/nodejs/Exp5.js", text: "Exp5" },
                { url: "./Class/nodejs/test.js", text: "test" },
            ];
        });

        // jQuery Appending for Lab Section
        $(document).ready(function () {
            var labLinks = [
                { url: "", text: " Lab Experiment 1" },
                { url: "", text: "Lab Experiment 2" },
                { url: "", text: "Lab Experiment 3" },
                { url: "", text: "Lab Experiment 4" },
                { url: "", text: "Lab Experiment 4" },
                { url: "", text: "Lab Experiment6" },
            ];

            $.each(labLinks, function (i, link) {
                $("#labLinks").append(
                    '<li><a href="' + link.url + '">' + link.text + "</a></li>"
                );
            });
        });

                $(document).ready(function () {
            var labreportLinks = [
                { url: "./Lab-report/Exp1/index.html", text: "Experiment 1 JQuerry Demo" },
                { url: "./Lab-report/Exp2/index.html", text: "Experiment 2 JQuerry CSS & EVENTS" },
                { url: "./Lab-report/Exp3/index.html", text: "Experiment 3 AngularJS Tables" },
                { url: "./Lab-report/Exp4/Ex1/index.html", text: "Experiment 4 Registration Form" },
                { url: "./Lab-report/Exp4/Ex2/index.html", text: "Experiment 4 Billing Form" },
                { url: "./Lab-report/Exp6/test2.js", text: "Experimen t5&6 NodeJS" },
                { url: "./Lab-report/Exp7/cookies.js", text: "Experiment 7 Cookies" },
                { url: "/Lab-report/Exp7/Session.js", text: "Experiment 7 Session" },
                { url: "./Lab-report/Exp7/session-cookies-demo.js", text: "Session-cookie-demo" },
            ];

            $.each(labreportLinks, function (i, link) {
                $("#labreportLinks").append(
                    '<li><a href="' + link.url + '">' + link.text + "</a></li>"
                );
            });
        });
    </script>
</body>

</html>